@import "./fonts.css";
@import "./animations.css";
@import "./header.css";
@import "./leftBar.css";
@import "./footer.css";
@import "./login.css";
@import "./content.css";
@import "./feed.css";
@import "./comments.css";
@import "./post.css";
@import "./createPostModal.css";
@import "./profile.css";
@import "./personCard.css";
@import "./people.css";
@import "./messages.css";
@import "./chatsListItem.css";
@import "./chatsList.css";
@import "./chat.css";
@import "./groupInfoModal.css";

html {
  box-sizing: border-box;
  scrollbar-gutter: stable;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden; /* предотвращает скролл всей страницы */
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

p {
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "Nunito Sans", system-ui, sans-serif;
  font-weight: 400;
  background-color: #fefefe;
  height: 100%;
}

.divisor {
  height: 0px;
  border: 1px solid #cdcdcdde;
  margin-bottom: 10px;
  transform: scaleY(0.5);
}
