.people {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1000px;
}

.people__content {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.people__header {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 20px;
}

.people__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
  margin-bottom: 20px;
}
